<h1>Editing Book</h1>
<% if @book.errors.any? %>
<%= @book.errors.count %>
<% @book.errors.full_messages.each do |message| %> errors prohibited this obj from being saved
<%= message %>
<% end %>
<% end %>
<%= form_with model:@book,url:"/books/#{@book.id}",local:true do |f| %>
<div class="field">
<label for="book_title">Titel</label>
<%= f.text_field :title %>
</div>
<div class="field">
<label for="book_body">Body<label>
<%= f.text_area :body %>
</div>
<div class="actions">
<%= f.submit'Update Book' %>
</div>
<% end %>
<%= link_to "Show", book_path(@book.id) %>
|
<%= link_to 'Back',"/books" %>
