<%=flash[:create]%>
<%=flash[:update]%>

<div class="field">
<p>
 <strong>Title:</strong>
<%= @book.title %></p>
</div>

<div class="field">
<p>
<strong>Body:</strong>
<%= @book.body %></p>
</div>

<%= link_to "Edit",edit_book_path(@book.id) %>
|
<%= link_to 'Back',"/books" %>

